<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ytk.business.dao.mapper.JdtMapper" >
  <resultMap id="BaseResultMap" type="ytk.business.pojo.po.Jdt" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="kcuuid" property="kcuuid" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="ndtype" property="ndtype" jdbcType="INTEGER" />
    <result column="teacheruuid" property="teacheruuid" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uuid, type, kcuuid, content, answer, ndtype, teacheruuid, createtime, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ytk.business.pojo.po.JdtExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jdt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jdt
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jdt
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="ytk.business.pojo.po.JdtExample" >
    delete from jdt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ytk.business.pojo.po.Jdt" >
    insert into jdt (uuid, type, kcuuid, 
      content, answer, ndtype, 
      teacheruuid, createtime, status
      )
    values (#{uuid,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{kcuuid,jdbcType=BIGINT}, 
      #{content,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{ndtype,jdbcType=INTEGER}, 
      #{teacheruuid,jdbcType=BIGINT}, #{createtime,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="ytk.business.pojo.po.Jdt" >
    insert into jdt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="kcuuid != null" >
        kcuuid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="ndtype != null" >
        ndtype,
      </if>
      <if test="teacheruuid != null" >
        teacheruuid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="kcuuid != null" >
        #{kcuuid,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="ndtype != null" >
        #{ndtype,jdbcType=INTEGER},
      </if>
      <if test="teacheruuid != null" >
        #{teacheruuid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ytk.business.pojo.po.JdtExample" resultType="java.lang.Integer" >
    select count(*) from jdt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jdt
    <set >
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.kcuuid != null" >
        kcuuid = #{record.kcuuid,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.answer != null" >
        answer = #{record.answer,jdbcType=VARCHAR},
      </if>
      <if test="record.ndtype != null" >
        ndtype = #{record.ndtype,jdbcType=INTEGER},
      </if>
      <if test="record.teacheruuid != null" >
        teacheruuid = #{record.teacheruuid,jdbcType=BIGINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jdt
    set uuid = #{record.uuid,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      kcuuid = #{record.kcuuid,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR},
      answer = #{record.answer,jdbcType=VARCHAR},
      ndtype = #{record.ndtype,jdbcType=INTEGER},
      teacheruuid = #{record.teacheruuid,jdbcType=BIGINT},
      createtime = #{record.createtime,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ytk.business.pojo.po.Jdt" >
    update jdt
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="kcuuid != null" >
        kcuuid = #{kcuuid,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="ndtype != null" >
        ndtype = #{ndtype,jdbcType=INTEGER},
      </if>
      <if test="teacheruuid != null" >
        teacheruuid = #{teacheruuid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ytk.business.pojo.po.Jdt" >
    update jdt
    set type = #{type,jdbcType=INTEGER},
      kcuuid = #{kcuuid,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      ndtype = #{ndtype,jdbcType=INTEGER},
      teacheruuid = #{teacheruuid,jdbcType=BIGINT},
      createtime = #{createtime,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>