<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ytk.business.dao.mapper.StudentSjMapper" >
  <resultMap id="BaseResultMap" type="ytk.business.pojo.po.StudentSj" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="student_uuid" property="studentUuid" jdbcType="VARCHAR" />
    <result column="sjid" property="sjid" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="ksgluuid" property="ksgluuid" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uuid, student_uuid, sjid, score, ksgluuid, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ytk.business.pojo.po.StudentSjExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student_sj
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from student_sj
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from student_sj
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="ytk.business.pojo.po.StudentSjExample" >
    delete from student_sj
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ytk.business.pojo.po.StudentSj" >
    insert into student_sj (uuid, student_uuid, sjid, 
      score, ksgluuid, status
      )
    values (#{uuid,jdbcType=VARCHAR}, #{studentUuid,jdbcType=VARCHAR}, #{sjid,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{ksgluuid,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="ytk.business.pojo.po.StudentSj" >
    insert into student_sj
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="studentUuid != null" >
        student_uuid,
      </if>
      <if test="sjid != null" >
        sjid,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="ksgluuid != null" >
        ksgluuid,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="studentUuid != null" >
        #{studentUuid,jdbcType=VARCHAR},
      </if>
      <if test="sjid != null" >
        #{sjid,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="ksgluuid != null" >
        #{ksgluuid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ytk.business.pojo.po.StudentSjExample" resultType="java.lang.Integer" >
    select count(*) from student_sj
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update student_sj
    <set >
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.studentUuid != null" >
        student_uuid = #{record.studentUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.sjid != null" >
        sjid = #{record.sjid,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.ksgluuid != null" >
        ksgluuid = #{record.ksgluuid,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update student_sj
    set uuid = #{record.uuid,jdbcType=VARCHAR},
      student_uuid = #{record.studentUuid,jdbcType=VARCHAR},
      sjid = #{record.sjid,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=INTEGER},
      ksgluuid = #{record.ksgluuid,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ytk.business.pojo.po.StudentSj" >
    update student_sj
    <set >
      <if test="studentUuid != null" >
        student_uuid = #{studentUuid,jdbcType=VARCHAR},
      </if>
      <if test="sjid != null" >
        sjid = #{sjid,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="ksgluuid != null" >
        ksgluuid = #{ksgluuid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ytk.business.pojo.po.StudentSj" >
    update student_sj
    set student_uuid = #{studentUuid,jdbcType=VARCHAR},
      sjid = #{sjid,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      ksgluuid = #{ksgluuid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>